<!DOCTYPE html>
<html>
<head>
  <meta charest="UTF-8">
  <title>本格入門</title>
</head>
<body>
<script src="https://unpkg.com/vue@2.5.21">
</script>
<!-- <div id="app"> -->
  <!-- <button v-on:click='click'>
    ボタン
  </button> -->
  <!-- <label>
    <input type="checkbox" v-model='reverse'>予約する
  </label>
  <div v-if='reverse'>
    予約日:<input type="date">
  </div> -->
  <!-- <div v-if='message'>
    {{message}}
  </div>
  <div v-else-if="message === '' ">
    空です。
  </div>
  <div v-else='message'>
    何もありません
  </div> -->
  <!-- <h2>Todos:</h2>
  <ol>
    <li v-for="todo in todos">
      <label>
        <input type="checkbox"
          v-on:change="toggle(todo)"
          v-bind:checked="todo.done">

        <del v-if="todo.done">
          {{ todo.text }}
        </del>
        <span v-else>
          {{ todo.text }}
        </span>
      </label>
    </li>
  </ol> -->
<div id="app">
  <user-list></user-list>
</div>
</body>
<script src="Vue.js"></script>
</html>
